<h1>People</h1>
  <table class="table">
    <thead>
      <th>Name</th>
      <th>Birthdate</th>
      <th>Actions</th>
    </thead>
    <tbody>
      <% @people.each do |person| %>
        <tr>
          <td>
            <a href="/people/<%= person.id %>" class="btn btn-link">
              <%= "#{person.first_name} #{person.last_name}" %>
            </a>
          </td>
          <td>
            <%= "#{person.birthdate}" %>
          </td>
          <td>
            <a href="<%= "/people/#{person.id}/edit" %>" class="btn btn-link"> Edit</a>
          </td>
          <td>
            <form action="<%= "/people/#{person.id}" %>" method="post">
              <input type="hidden" name="_method" value="delete" />
              <input type="submit" value="Delete" class="btn btn-link"/>
            </form>
        </tr>
      <% end %>
    </tbody>
  </table>


